/* styles.css */
.custom-dropdown .Select-control {
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

.custom-dropdown .Select-menu {
    background-color: #343a40; /* Dark background color for the options menu */
}

.custom-dropdown .Select-option {
    color: white; /* Text color for the options */
}